<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
    <h1>halo</h1>
    <form action="/ZADANIE" method="POST">
        <input type="number" placeholder="album" name="album">
        <input type="text" placeholder="Imie Studenta" name="imie">
        <input type="text" placeholder="Nazwisko Studenta" name="nazwisko">
        <button type="text">Submit</button>
      </form>
      <table>
          <tr>
              <th>Album</th>
              <th>Imie</th>
              <th>Nazwisko</th>
             
          </tr>
          <% for(var i = 0; i < ZADANIE.length; i++) {%>
          <tr>
<th><%=ZADANIE[i].album %></th>
<th><%=ZADANIE[i].imie   %></th>
<th><%=ZADANIE[i].nazwisko %></th>
          </tr>
          <% } %>
      </table>
</body>
</html>